<mat-card>
  <mat-card-content>
    <mat-toolbar>
      <img alt="Logo Rappi" id="logo-header" title="Logo Rappi" src="https://images.rappi.com/web/logo-rappi-new.svg"><span>Hackathon Rappi</span>
    </mat-toolbar>
    <form #filtersForm="ngForm" class="general-form">
      <div class="general-full-width">
        <mat-form-field>
          <input matInput placeholder="GeoHash" name="geohash" id="geohash" #geohash="ngModel" [(ngModel)]="filterData.geoHash" required type="number">
          <mat-error *ngIf="geohash.invalid">Ingrese un valor</mat-error>
        </mat-form-field>
      </div>
      <div class="general-full-width date-field">
        <mat-form-field>
          <input type="date" matInput placeholder="Fecha Inicial" name="initialDate" id="initialdate" #initialdate="ngModel" [(ngModel)]="filterData.initialDate" required>
          <mat-error *ngIf="initialdate.invalid">Ingrese un valor</mat-error>
        </mat-form-field>
      </div>
      <div class="general-full-width hour-field">
        <mat-form-field>
          <input type="time" matInput placeholder="Hora Inicial" name="initialDateHour" id="initialdatehour" #initialDateHour="ngModel" [(ngModel)]="filterData.initialHour" required>
          <mat-error *ngIf="initialDateHour.invalid">Ingrese un valor</mat-error>
        </mat-form-field>
      </div>
      <div class="general-full-width date-field">
        <mat-form-field>
          <input type="date" matInput placeholder="Fecha Final" name="finalDate" id="finaldate" #finaldate="ngModel" [(ngModel)]="filterData.finalDate" required>
          <mat-error *ngIf="finaldate.invalid">Ingrese un valor</mat-error>
          <mat-error *ngIf="filterData.initialDate > filterData.finalDate">La fecha de finalización no puede ser menor a la fecha inicial</mat-error>
        </mat-form-field>
      </div>
      <div class="general-full-width hour-field">
        <mat-form-field>
          <input type="time" matInput placeholder="Hora Final" name="finalDateHour" id="finaldatehour" #finalDateHour="ngModel" [(ngModel)]="filterData.finalHour" required>
          <mat-error *ngIf="finalDateHour.invalid">Ingrese un valor</mat-error>
        </mat-form-field>
      </div>
      <div class="general-full-width">
        <mat-form-field>
          <mat-select placeholder="Tipo de Vehículo" name="vehicleType" required id="vehicletype" #vehicletype="ngModel" [(ngModel)]="filterData.vehicleType">
            <mat-option value="1">Bici</mat-option>
            <mat-option value="2">Moto</mat-option>
          </mat-select>
          <mat-error *ngIf="vehicletype.invalid">Ingrese un valor</mat-error>
        </mat-form-field>
      </div>
      <div class="general-full-width">
        <mat-form-field>
          <mat-select placeholder="Tipo de Orden" name="orderType" id="ordertype" #ordertype="ngModel" [(ngModel)]="filterData.orderType" required>
            <mat-option value="courier">Rappiservicio</mat-option>
            <mat-option value="ultraservicio">Rappifavor</mat-option>
            <mat-option value="restaurant">Restaurantes</mat-option>
            <mat-option value="express">Express</mat-option>
            <mat-option value="market">Mercado</mat-option>
            <mat-option value="whim">Antojos</mat-option>
          </mat-select>
          <mat-error *ngIf="ordertype.invalid">Ingrese un valor</mat-error>
        </mat-form-field>
      </div>
      <div class="general-button">
        <button mat-raised-button type="submit" [disabled]="!filtersForm.valid && (filterData.initialDate > filterData.finalDate)" (click)="sendData()">
          <span *ngIf="!loading">Buscar</span>
          <span *ngIf="loading">Espere...</span>
        </button>
      </div>
    </form>
    {{map_locations}}
    <div class="map-container">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="12" >
        <agm-marker *ngFor="let location of map_locations" [latitude]="location.lat" [longitude]="location.lng"></agm-marker>
      </agm-map>
    </div>
  </mat-card-content>
</mat-card>
