.general-form {
  min-width: 150px;
  max-width: 100%;
  width: 100%;
}

.general-full-width {
  width: 20%;
  display: inline-block;
}
.general-full-width > mat-form-field{
  width: 90%;
}

.date-field > mat-form-field{
  width: 60%;
}

.hour-field > mat-form-field{
  width: 30%;
}

#logo-header{
  width: 75px;
  padding-right: 10px;
}

.mat-card{
  box-shadow: 0 3px 1px -2px rgba(255, 113, 117, 0.2),0 2px 2px 0 rgba(255, 113, 117, 0.44),0 1px 5px 0 rgba(255, 86, 86, 0.72) !important;
}


.map-container{
  padding-top:20px;
}
agm-map {
  height: 500px;
}
